html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

#mapImage, #mapCanvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  will-change: transform;
  transform: translateZ(0);
}

#mapCanvas {
  z-index: 10;
  pointer-events: none;
}

/*오브젝트 영역*/


#portalLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

/*포탈 */
.portal_1,
.portal_2,
.portal_3 {
  position: absolute;
  display: block;
  z-index: 999;
  pointer-events: none;
  transform-origin: top left; /* 반드시 유지 */
}

/* 포탈 내부 이미지 공통 */
.portal_1 img,
.portal_2 img,
.portal_3 img,
.portal_4 img,
.portal_5 img {
  position: absolute;
  display: block;
  pointer-events: none;
}



/* 포탈 1 */


.portal_1 .portal_back {
  width: 300px;
  transform: translate(220px, 225px);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.portal_1 .portal_center {
  width: 500px;
  transform: translate(80px, 225px);
  z-index: 3;
}

.portal_1 .portal_inside {
  width: 300px;
  transform: translate(225px, 230px);
  z-index: 2;
  opacity: 0.7;
  mix-blend-mode: hard-light;
}

/* 포탈 2 */
.portal_2 .portal_back {
  width: 390px;
  transform: translate(-200px, 5px);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.portal_2 .portal_center {
  width: 550px;
  transform: translate(-380px, 20px);
  z-index: 3;
}

.portal_2 .portal_inside {
  width: 530px;
  transform: translate(-263px, -60px);
  z-index: 2;
  opacity: 0.7;
  mix-blend-mode: hard-light;
}


/* 포탈 3 */


.portal_3 .portal_back {
  width: 550px;
  transform: translate(90px, 20px);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.portal_3 .portal_center {
  width: 670px;
  transform: translate(-20px, 20px);
  z-index: 3;
}

.portal_3 .portal_inside {
  width: 300px;
  transform: translate(330px, 75px);
  z-index: 2;
  opacity: 0.7;
  mix-blend-mode: hard-light;
}

/* 포탈 4 */

.portal_4 .portal_back {
  width: 300px;
  transform: translate(120px, 20px) scaleX(-1);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.portal_4 .portal_center {
  width: 490px;
  transform: translate(1px, 15px);
  z-index: 3;
}

.portal_4 .portal_inside {
  width: 600px;
  transform: translate(-35px, -120px) scaleX(-1);
  z-index: 2;
  opacity: 0.7;
  mix-blend-mode: hard-light;
}

/* 포탈 5 */

.portal_5 .portal_back {
  width: 580px;
  transform: translate(175px, 10px) scaleX(-1);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.portal_5 .portal_center {
  width: 670px;
  z-index: 3;
}

.portal_5 .portal_inside {
  width: 330px;
  transform: translate(180px, 26px) scaleX(-1);
  z-index: 2;
  opacity: 0.7;
  mix-blend-mode: hard-light;
}



/*캐릭터 영역*/
.character-container {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 9999 !important;
  transform-origin: top left; /* center bottom → top left로 변경 */
    pointer-events: none;
  will-change: transform;
  transform: translateZ(0);
}

.character-3d {
	position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  z-index: 9999;
}

.character-3d canvas {
  position: absolute;
  height: 220px !important;
  width: auto !important;
  transform-origin: center bottom;
  z-index: 9999;
  will-change: transform;
  transform: translateZ(0);
}